extends base.pug

block content
    p=video.description
    small=video.createAt
    h3 #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    a(href=`${video._id}/edit`) Edit video &rarr;